/* ant design css */
@import 'antd/dist/antd.css';

/* google font - Waterfall and Barlow */
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&family=Waterfall&display=swap');

* {
    border-radius: 0 !important;
    font-family: "Barlow Semi Condensed";
}

#navbar {
    display: flex;
    max-width: 700px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

#logo {
    color: #f1356d;
    font-family: "Waterfall";
}

#navbar a {
    padding-left: 10px;
}

#navbar a:hover {
    /* color: #f1356d */
}

#lobby {
    margin: 0 auto;
    max-width: 700px;
    padding: 15px;
}

#blog_list .ant-card {
    margin-top: 15px;
}