@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    border-radius: 0 !important;
    font-family: "Poppins";
}

div, a, span {
    font-size: 12px;
}

#navbar {
    display: flex;
    max-width: 700px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

#logo {
    color: #f1356d;
}

#navbar a {
    padding-left: 10px;
}

#lobby {
    margin: 0 auto;
    max-width: 700px;
    padding: 15px;
}

.blog_header {
    margin-top: 15px;
}

#blog_list .ant-card {
    margin-top: 15px;
}