/* google font here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    font-family: "Poppins";
    color: #333;
}

a, div {
    font-size: 14px;
}

#navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    justify-content: space-between;
}

#navbar h3 {
    color: #f1356d;
}

#navbar a {
   padding-left: 20px;
   text-decoration: none;
   font-weight: 500;
}

#navbar a:hover {
    color: #f1356d;
}

.content {
    max-width: 700px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

button {
    margin: 10px 0;
}